body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

canvas {
    border: 2px solid black;
    border-radius: 5px;
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(161, 161, 161, 0.137), rgba(80, 80, 80, 0.5));
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.toolbar:hover{
   cursor: grab; 
}

.toolbar:active{
    cursor: grabbing;
}

.toolbar button {
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to top, rgba(161, 161, 161, 0.137), rgba(129, 129, 129, 0.568));
    cursor: pointer;
    transition: 0.3s ease;
    border: 1px solid black;
}

.toolbar button:hover {
    background-color: #d0d0d0;
}

.color{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.color:hover{
    scale: 1.1;
}

.color:active{
    scale: 1.2;
}

.active{
    border: 2px solid black;
    scale: 1.5;
}